<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>

    <form action="/signup" method="POST">

        <table>
            <tr>
                <td>firstname</td>
                <td><input type="text" name="firstname" value=""></td>
            </tr>
            <tr>
                <td>lastname</td>
                <td><input type="text" name="lastname" value=""></td>
            </tr>
            <tr>
                <td>username</td>
                <td><input type="text" name="username" value=""></td>
            </tr>
            <tr>
                <td>mobile</td>
                <td><input type="text" name="mobile" value=""></td>
            </tr>
            <tr>
                <td>email</td>
                <td><input type="text" name="email" value=""></td>
            </tr>
            <tr>
                <td>password</td>
                <td><input type="text" name="password" value=""></td>
            </tr>
        </table>
        
        <br>
    
        <button type="submit">submit</button>

    </form>

    <script>

    </script>

</body>
</html>